<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div class="form-group">
    <a th:href="@{'/visits/'}" class="btn btn-primary">Show visit</a>
    <a th:href="@{'/visits/add'}" class="btn btn-success">Add visit</a>

    <a th:href="@{'/customers/'}" class="btn btn-primary">Show customers</a>
    <a th:href="@{'/customers/add'}" class="btn btn-success">Add customer</a>

    <a th:href="@{'/animals/'}" class="btn btn-primary">Show animals</a>
    <a th:href="@{'/animals/add'}" class="btn btn-success">Add animal</a>
</div>
</body>
</html>