<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body>

<div class="container">
    <a th:href="@{'/visits/'}" class="btn btn-primary">Show visit</a>
    <a th:href="@{'/visits/add'}" class="btn btn-success">Add visit</a>
    <a th:href="@{'/customers/'}" class="btn btn-primary">Show customers</a>
    <a th:href="@{'/customers/add'}" class="btn btn-success">Add customer</a>
    <a th:href="@{'/animals/'}" class="btn btn-primary">Show animals</a>
    <a th:href="@{'/animals/add'}" class="btn btn-success">Add animal</a>
</div>
</body>
</html>